--swiftversion 6.2.4

--ifdef no-indent

--disable strongOutlets, unusedArguments, propertyTypes, trailingCommas, wrapPropertyBodies

--enable redundantSelf, redundantReturn, redundantPublic, redundantOptionalBinding, preferCountWhere, preferKeyPath, redundantClosure, trailingClosures